<ion-view view-title="关于养车专家">
  <ion-content>
    <div>
      <p>养车专家</p>
      <br>
      <span>养车专家是一款专为那些想自己控制爱车的保养节奏不想任由SSSS店各种忽悠的人士打造，它可以为你规划保养计划，然后到时间或里程之后提醒你。</span>
      <br>
      <span>1. 制定保养计划：</span>
      <br>
      <span>您可以在养车专家里自己制定保养计划，然后随时更新自己的车辆行驶里程和保养情况。这样，每当您的车辆需要保养时，养车专家都会提前提醒。</span>
      <br>
      <span>2. 随时更新车辆里程：</span>
      <br>
      <span>养车专家的需要根据您的车辆行驶里程来了解您的车辆保养状态，所以请务必随时更新车辆里程数据。养车专家一般建议您最长1星期更新一次里程数据。</span>
      <br>
      <span>3. 记录保养历史：</span>
      <br>
      <span>在养车专家里记录您每次保养的情况，包括保养项目。这样，下次需要做什么保养，都可以一目了然。</span>
      <br>

    </div>
  </ion-content>
</ion-view>
