<ion-view view-title="设置保养项目">
  <ion-nav-buttons side="right">
    <div class="buttons">
      <input type="submit"  value="保存"
             ng-disabled="form.editForm.name.$invalid"
             ng-click="saveCarItem($event)">
      </input>
    </div>
  </ion-nav-buttons>
  <ion-content>
    <form name="form.editForm" novalidate>
      <div class="list">
        <label class="item item-input">
          <input placeholder="保养项目名称" type="text" name="name" required ng-maxlength="20" ng-model="item_bak.name">
          <span style="color:red" ng-show="form.editForm.name.$dirty && form.editForm.name.$invalid">
            <span ng-show="form.editForm.name.$error.required">不能为空</span>
            <span ng-show="form.editForm.name.$error.maxlength">输入超长</span>
          </span>
        </label>
        <label class="item item-input">
          <input placeholder="保养里程间隔" type="number" name="mileage_period" ng-model="item_bak.mileage_period">
        </label>
        <label class="item item-input">
          <input placeholder="保养时间间隔" type="number" name="time_period" ng-model="item_bak.time_period">
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
