/* Empty. Add your own CSS if you like */

.font_warning {
  font-weight: bold;

  font-size: 120%;
  color: gold;
}
.font_alert {
  font-weight: bold;

  font-size: 120%;
  color: red;
}

p.item-value {
  display: inline;
  float: right;
}

ion-popover-view.popover-menu {
  width: 200px;
}

div.popover-menu {
  padding-left: 10px;
}

ion-item.popover-menu-item {
  /*height: 30px;*/
  border-left: none;
  padding: 9px;
}

.brand-logo {
  max-width: 60px;
  max-height: 45px;
  top: 20px;
  left: 5px;
}

.item-status-icon {
  position: absolute;
  top: 16px;
  left: 16px;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  /*border-radius: 50%;*/
}

#map_container {
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}
#around_content {
  margin-top: 55px;
  height: 100%;
}


.map_info_window {
  border: solid 1px silver;
}
div.map-info-top {
  position: relative;
  background: none repeat scroll 0 0 #F9F9F9;
  border-bottom: 1px solid #CCC;
  border-radius: 5px 5px 0 0;
}
div.map-info-top div {
  display: inline-block;
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  line-height: 31px;
  padding: 0 10px;
}
div.map-info-top img {
  position: absolute;
  top: 10px;
  right: 10px;
  transition-duration: 0.25s;
}
div.map-info-top img:hover {
  box-shadow: 0px 0px 5px #000;
}
div.map-info-middle {
  font-size: 12px;
  padding: 6px;
  line-height: 20px;
}
div.map-info-bottom {
  height: 0px;
  width: 100%;
  clear: both;
  text-align: center;
}
div.map-info-bottom img {
  position: relative;
  z-index: 104;
}
span {
  margin-left: 5px;
  font-size: 11px;
}

img.off_line_head{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}
